.card {
	width: 100vh;
	min-width: fit-content;
	max-height: 90vh;
	margin: 0 auto;
	background-color: #f8fbfe;
	border-radius: 8px;
	z-index: 1;
	display: flex;
}
.hasTools {
	background-color: #edecec;
	border-bottom-left-radius: 8px;
	flex-direction: row;
	border-top-left-radius: 8px;
}
.tools {
	display: flex;
	align-items: center;
	padding: 9px;
}

.circle {
	padding: 0 4px;
}

.box {
	display: inline-block;
	align-items: center;
	width: 10px;
	height: 10px;
	padding: 1px;
	border-radius: 50%;
}

.red {
	background-color: #ff605c;
}

.yellow {
	background-color: #ffbd44;
}

.green {
	background-color: #00ca4e;
}
.smallTitle {
	font-weight: bold;
}
.isTest {
	border: 1px red solid;
}
.isContactCard {
	max-height: 60vh;
	overflow: scroll;
}
.is {
	max-height: 50vh;
	overflow: scroll;
}

.isContactName {
	padding: 8px;
}
.isContactName:hover {
	background-color: #dddddd;
}
